div {
    
    /* Adds a solid green border around the div */
    border: 8px solid rgb(70, 226, 43);
    
    /* Sets the width of the outline (outside the border) */
    outline-width: 9px;
    
    /* Defines the color of the outline */
    outline-color: red;
    
    /* Specifies the style of the outline (solid in this case) */
    outline-style: solid;
    
    /* Creates a space between the border and outline */
    outline-offset: 9px;
    
    /*  shortcut for these al properties     */
    outline: 2px solid green;    
    }